* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  background: #0b0e0f;
  cursor: pointer;
}


.container { 
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.imageContainer { 
  padding-right: 12em;
  display: flex;
}
.image { 
  background-image: url("assets/image.png");
  background-size: cover;
  background-color: black;
  width: 280px;
  height: 85vh;
}


.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: white;
  display: flex;
  padding-left: 12em;
}

.login .loginContainer {
  padding: 60px;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  margin-top: 3em;
}

.login .loginContainer label {
  color: black;
  margin: 14px 0;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  letter-spacing: 1px;
  border: 1px solid black;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: black;
}

.login .loginContainer .btnContainer p span {
  color: black;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #AE8F8C;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}




/* Login */

.errorMsg { 
  margin-top: 1em;
}

label { 
  font-weight: 100;
}

.haveAnAccount , .notHaveAnAccount { 
  float: left;
  padding-top: 1.6em;
  letter-spacing: -.3px;
}


.beforeLogin { 
  padding-bottom: 1em;
  justify-content: center;
  margin: auto;
}

.beforeLogin h1 { 
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 100;
  font-size: 5.4em;
  letter-spacing: -5px;
}

.beforeLogin .one { 
  display: flex;
  justify-content: center;
  margin: auto;
}

.beforeLogin .two { 
  display: flex;
  justify-content: right;
  margin: auto;
  align-items: center;
}


.beforeLogin .two p { 
  font-size: 1.9em;
  font-weight: 100;
  padding-left: .6em;
  letter-spacing: -1px;
}

.beforeLogin .two span img { 
  height: 20px;
}



/* hero */

.hero {
  width: 100%;
  min-height: 100vh;
  background: black
}

.hero nav {
  background: white;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: flex-end;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: transparent;
  color: black;
  font-weight: 400;
  border: 1px solid black;
}

section .text { 
  padding-top: 2.5em;
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
}




@media all and (max-width : 1024px) { 

  .imageContainer { 
    display: none;
}

.container { 
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}


  .login {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    background: white;
    display: flex;
    padding-left: 1em;
  }

  
  .login .loginContainer {
    padding: 30px;
    width: 100%;
    max-width: 520px;
    min-height: 600px;
    margin-top: 1em;
  }
  
  .login .loginContainer label {
    color: black;
    margin: 14px 0;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
  
  .login .loginContainer input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: black;
    letter-spacing: 1px;
    border: 1px solid black;
  }
  
  .login .loginContainer .btnContainer {
    width: 100%;
    padding: 24px 0;
  }
  
  .login .loginContainer .btnContainer p {
    margin: 14px 0 0 0;
    text-align: right;
    color: black;
  }
  
  .login .loginContainer .btnContainer p span {
    color: black;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 400ms ease-in-out;
  }
  
  .login .loginContainer .btnContainer p span:hover {
    color: #AE8F8C;
  }
  
  .login .loginContainer .errorMsg {
    color: red;
    font-size: 16px;
  }
  
  
  
  
  /* Login */
  
  .errorMsg { 
    margin-top: 1em;
  }
  
  label { 
    font-weight: 100;
  }
  
  .haveAnAccount , .notHaveAnAccount { 
    padding-top: 2em;
    letter-spacing: -.3px;
    font-size: .9em;
  }
  
  
  .beforeLogin { 
    padding-bottom: 1em;
    justify-content: center;
    margin: auto;
  }
  
  .beforeLogin h1 { 
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 100;
    font-size: 4em;
    letter-spacing: -3px;
  }
  
  .beforeLogin .one { 
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  .beforeLogin .two { 
    padding-top: .8em;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
  }
  
  
  .beforeLogin .two p { 
    font-size: 1.4em;
    font-weight: 100;
    padding-left: .6em;
    letter-spacing: -1px;
  }
  
  .beforeLogin .two span img { 
    height: 20px;
  }
}