* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  background: #0b0e0f;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: white;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  margin-left: 10em;
  margin-top: 5em;
}

.login .loginContainer label {
  color: black;
  margin: 14px 0;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  letter-spacing: 1px;
  border: 1px solid black;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: black;
}

.login .loginContainer .btnContainer p span {
  color: black;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #AE8F8C;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}




/* Login */

.errorMsg { 
  margin-top: 1em;
}

label { 
  font-weight: 100;
}

.haveAnAccount , .notHaveAnAccount{ 
  float: left;
  padding-top: 1.6em;
}

.beforeLogin { 
  justify-content: center;
  margin: auto;
}

.beforeLogin .one { 
  display: flex;
  justify-content: center;
  margin: auto;
}

.beforeLogin .two { 
  display: flex;
  justify-content: right;
  margin: auto;
  align-items: center;
}


.beforeLogin .two p { 
  font-size: 1.9em;
  font-weight: 100;
  padding-left: .6em;
  letter-spacing: -1px;
}

.beforeLogin .two span img { 
  height: 20px;
}


.beforeLogin h1 { 
  font-family: 'Times New Roman';
  font-style: italic;
  font-weight: 100;
  font-size: 5.5em;
  letter-spacing: -5px;
}












/* hero */

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.hero nav {
  background: #2d68d4;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}
